:root {
    --primary: #F3712B;
    --lightest: #EDF6F9;
    --medium: #A0AEC0;
    --dark: #1B2631
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* HEADER SECTION */

/* HERO STYLES */

/* INFO SECTION */

/* INFO SNIPPETS SECTION */

/* FEATURES SECTION */

/* GALLERY SECTION */

/* ARTICLES SECTION */

/* CTA SECTION */

/* FAQ SECTION */

/* FOOTER SECTION */