:root {
    --black: #13131Bff;
    --charcoal: #1C1C25ff;
    --gray: #444450ff;
    --yellow: #FFC200ff;
    --blue: #0077FFff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body {
    background-color: var(--black);
    height: 100vh;

    display: flex;
}

i {
    color: white;
}

/* || SIDEBAR */

.sidebar {
    background-color: var(--charcoal);
    height: 100vh;
    width: 70px;
    border-right: 1px solid var(--gray);
    padding-top: 1rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo i {
    font-size: 30px;
    padding: 1rem;
    margin-bottom: 4rem;
}



.nav-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* gap: 2rem; */
}

.nav-container i {
    font-size: 24px;
    color: var(--gray);
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 30% 0;

}


.nav-container i:hover {
    color: var(--blue);
    background-color: rgba(0, 119, 255, 0.2);

}

/* || MAIN CONTAINER */